@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  /* For WebKit browsers (Chrome, Safari) */
  .custom-scrollbar::-webkit-scrollbar {
    width: 12px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1; /* Light gray background */
    border-radius: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888; /* Gray thumb */
    border-radius: 6px;
    border: 3px solid #f1f1f1; /* Creates padding effect */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker on hover */
  }

  /* For Firefox */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
  }

  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .swipe {
    animation: swipe 2.3s infinite;
  }

  .swipe-huge {
    animation: swipe-huge 2.3s infinite;
  }
}

@keyframes swipe {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(800px);
  }
}

@keyframes swipe-huge {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(1800px);
  }
}

.appear {
  animation: appear 0.2s ease-in-out;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#webtor-player iframe,
#webtor-player video {
  width: 100% !important;
  height: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain !important;
  background-color: black;
}

.webtor-download-button,
.webtor-preloader,
.webtor-title,
.webtor-desc,
.webtor-poster {
  display: none !important;
}
